<!DOCTYPE html>
<html>

<head>
<link href="/static/default.css" rel="stylesheet"/>

{% if css %}
<link href="{{ css }}" rel="stylesheet"/>
{% endif %}

<script>
window.reqid = "{{ reqid }}";

// if in iframe, notify parent of reqid
// todo: make optional
if (window != window.parent) {
    window.parent.postMessage({"type": "reqid", "reqid": window.reqid}, "*");
}

window.CBrowserInit = {
  "audio": {{'true' if audio else 'false'}},
"fill_window": true,
  "inactiveSecs": 10};

</script>
<script src="/static/shepard.bundle.js"></script>
</head>

<body>
<div id="countdown"></div>
<div id="browser"></div>
</body>

</html>
